# Estadística

La clase pasada vimos que numpy tiene muchas funciones que nos simplifican la vida a los data scientists.

Numpy, también incluye funciones para calcular la media, desviación estandar, moda, percentiles, etc.

Veamos algunas de ellas...

## La media

Dados $n$ números $x_1,x_2,...,x_n$, el promedio o media es

$$\overline{x} = \frac{1}{n}\sum_{i=1}^{n} x_i = \frac{x_1 + x_2 + ... + x_n}{n}$$

Primero calculemos la media de un array sin usar la función de numpy.

Ejercicio: Hacer una función que reciba un array de numpy como parámetro y retorne su media

In [1]:
import numpy as np

In [2]:
np_array = np.arange(100)

In [13]:
## escribir una funcion que permita calcular la media del array
def funcion_promedi(np_array):
    suma= 0
    for n in np_array:
        suma= suma + n
        promedio = suma/len(np_array)
    return(promedio)
funcion_promedi(np_array)

49.5

Ahora.. como lo hacemos con numpy? Es mucho más simple!

In [ ]:
np.mean(np_array)

## La mediana

Vimos que la mediana es un valor tal que bajo ella se encuentran el 50% de las observaciones.

Numpy también nos provee una función para calcular la mediana en una sola línea de código:

In [ ]:
np.median(np_array)

## Desviación estandar

In [ ]:
np.std(np_array)

## Varianza

In [ ]:
np.var(np_array)

## Percentiles

In [ ]:
np.quantile(np_array, 0.5) # Es igual a la mediana

In [ ]:
np.quantile(np_array, 0.25)

# Pandas

Ahora si, arranquemos con Pandas.

Pandas es otra librería muy utilizada por data scientists. El principal concepto detrás de Pandas es el DataFrame.

Un DataFrame es una estructura de datos con dos dimensiones en la cual se puede guardar datos de distintos tipos (como caractéres, enteros, valores de punto flotante, factores y más) en columnas. En un DataFrame se van a almacenar los datos con los que querramos trabajar.

Pandas nos provee muchas funciones para manipular datos en un DataFrame.

Pandas corre sobre Numpy, de manera que hay muchas cosas en comun.

Primero que nada, importemos pandas

In [22]:
!pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/11/17/fb1a34f3e73debbc2fd15a01ea17eaab3717943d08463ff4979a4f024b3f/pandas-2.1.4-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.1.4-cp311-cp311-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\vmarq\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vmarq\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Obtaining dependency information for tzdata>=2022.1 from https://files.pythonhosted.org/packages/a3/fb/52b62131e21b24ee297e4e95ed41eba29647dad0e0051a92bb66b43c70ff/tzdata-2023.4-py2.py3-none-any.whl.metadata
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\vmarq\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.4-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.6 MB 640.0 kB/s eta 0:00:17
    --------------------------------------- 0.2/10.6 MB 1.8 MB/s eta 0:00:06
   -- ------------------------------------- 0.6/10.6 MB 4.8 MB/s eta 0:00:03
   ---- ----------------------------------- 1.2/10.6 MB 7.0 MB/s eta 0:00:02
   ------- -------------------------------- 1.9/10.6 MB 8.5 MB/s eta 0:00:02
   --------- ------------------------------ 2.6/10.6 MB 9.6 MB/s eta 0:00:01
   ---------- ----------------------------- 2.8/10.6 MB 9.3 MB/s eta 0:00:01
   -------------- ------------------------- 3.9/10.6 MB 10.8 MB/s eta 0:00:01
   ---------------- ----------------------- 4.4/10.6 MB 10.8 MB/s eta 0:00:01
   ------------------ --------------------- 4.9/10.6 MB 10.7 MB/s eta 0:00:01
   --------------------- ------------------ 5.6/10.6 MB 11.5 MB/s eta 0:00:01
   ----------------------- ---------------- 6.2/10.6 MB 11.4 MB/s eta 0:00:01
   --------------------------- ------------ 7.2/10.6 MB 12.1 MB/s eta 0:00:01
   ----------------------------- ---------- 7.9/10.6 MB 12.3 MB/s eta 0:00:01
   -------------------------------- ------- 8.6/10.6 MB 12.4 MB/s eta 0:00:01
   ---------------------------------- ----- 9.2/10.6 MB 12.5 MB/s eta 0:00:01
   ------------------------------------- -- 9.9/10.6 MB 12.6 MB/s eta 0:00:01
   ---------------------------------------  10.4/10.6 MB 14.2 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 13.6 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 12.8 MB/s eta 0:00:00
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ---------------------------------------- 0.0/502.5 kB ? eta -:--:--
   ---------------------------------- ---- 450.6/502.5 kB 14.2 MB/s eta 0:00:01
   --------------------------------------- 502.5/502.5 kB 10.7 MB/s eta 0:00:00
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ---------------------------------------- 0.0/346.6 kB ? eta -:--:--
   --------------------------------------- 346.6/346.6 kB 21.0 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.1.4 pytz-2023.3.post1 tzdata-2023.4

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

Un DataFrame se puede crear por ejemplo, a partir de un archivo csv (caso más común).

Para eso, pandas nos provee la función read_csv.

Antes que nada, si estamos trabajando en google colab, debemos montar drive en nuestro notebook.

Una vez montado drive, debemos reemplazar el path al archivo:

In [5]:
iris_dataset = pd.read_csv('C:\Vic\Data Science\ICARO\Clase 5\iris_dataset - iris_dataset.csv')

In [ ]:
#from google.colab import drive # La usamos para montar nuestra unidad de Google Drive
#drive.mount('/content/drive') # Montamos nuestra unidad de Google Drive
#iris_dataset = pd.read_csv('drive/MyDrive/ICARO/Curso DS/Clases/Clase 4/iris_dataset.csv') "Ruta del drive donde esta guardado el dataset + iris_dataset.csv"

ModuleNotFoundError: No module named 'termios'

In [6]:
iris_dataset = pd.read_csv('iris_dataset.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'iris_dataset.csv'

In [7]:
iris_dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Lo que hicimos fue leer un archivo csv y meterlo dentro de un DataFrame de pandas. Este DataFrame tiene filas y columnas.

Cad columna tiene un tipo de dato. Esto podemos verlo con la función info()

In [8]:
iris_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

Nos dice que todas las columnas son del tipo float, a excepción de "species" que es del tipo "object".

Es importante tener en cuenta el tipo de datos de las columnas ya que de esto depende las operaciones que podemos hacer sobre las mismas.

El dataset que estamos usando (iris_dataset) es muy conocido, pueden googlear para saber más del mismo.


Otra función muy útil de los DataFrames es describe()

In [9]:
iris_dataset.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Describe, nos da datos estadísticos de nuesto DataFrame.

Un DataFrame, puede tener valores faltantes. Estos valores faltantes en pandas se representan como NaN.

Cuántos datos faltantes hay en este DataFrame?

In [10]:
iris_dataset.isna().sum() # para ver los NaN

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

Ninguno! Este dataset no tiene datos faltantes (rara vez nos vamos a encontrar con datasets de este tipo)

También podemos aplicar funciones sobre una columna.

Para seleccionar una columna, utilizamos [].

In [12]:
iris_dataset['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

Que tipo de dato nos retorna esto?

In [13]:
type(iris_dataset['sepal_length'])

pandas.core.series.Series

Una "Series". Una series es el objeto que compone a los dataframes de pandas.

Este objeto es muy similar a los que es un array de Numpy (de hecho esta construido sobre el). La diferencia es que el objeto Series tiene etiquetas (labels), eso quiere decir que puede ser indexado por la etiqueta, y no solo por la posicion.

Si en lugar de obtener una Series, quiero un DataFrame, puedo hacerlo utilizando corchetes dobles:

In [ ]:
iris_dataset[['sepal_length']]

En este caso, puedo seleccionar todas las columnas que quiera

In [14]:
iris_dataset[['sepal_length', 'sepal_width', 'species']]

     sepal_length  sepal_width    species
0             5.1          3.5     setosa
1             4.9          3.0     setosa
2             4.7          3.2     setosa
3             4.6          3.1     setosa
4             5.0          3.6     setosa
..            ...          ...        ...
145           6.7          3.0  virginica
146           6.3          2.5  virginica
147           6.5          3.0  virginica
148           6.2          3.4  virginica
149           5.9          3.0  virginica

[150 rows x 3 columns]

Los DataFrames también tienen un atributo "columns":

In [15]:
iris_dataset.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

Y otro atributo index:

In [18]:
iris_dataset.index

Index([5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9,
       ...
       6.7, 6.9, 5.8, 6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9],
      dtype='float64', name='sepal_length', length=150)

Podemos elegir cualquier columna como index:

In [22]:
iris_dataset = iris_dataset.set_index('sepal_length')

Si nos arrepentimos, podemos resetear el index para que vuelva a ser numérico

In [23]:
iris_dataset = iris_dataset.reset_index()

In [24]:
iris_dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Head, Tail y Sample

A veces tenemos DataFrames con muchisimos datos y no queremos imprimir todo en un notebook, simplemente algunas filas como ejemplo.

Para esto existen las funciones head(), tail() y sample()

In [25]:
iris_dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [26]:
iris_dataset.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [27]:
iris_dataset.sample(5, random_state=42) # seed random_state= 42 es el nombre de esos 5 randoms que trajo, si le pongo 1 te trae otros y asi

     sepal_length  sepal_width  petal_length  petal_width     species
73            6.1          2.8           4.7          1.2  versicolor
18            5.7          3.8           1.7          0.3      setosa
118           7.7          2.6           6.9          2.3   virginica
78            6.0          2.9           4.5          1.5  versicolor
76            6.8          2.8           4.8          1.4  versicolor

Cuál es la diferencia entre las 3?

#### loc e iloc

Pandas nos probee las funciones loc e iloc para acceder a sus datos.

Para que sirven?

Investigar

In [ ]:
iris_dataset.loc[1,['sepal_length']]

In [ ]:
iris_dataset.iloc[1,0]