# ¡Empecemos a programar!

Recomendación: Además de ejecutar el notebook, modifiquen, prueben, rompan... ¡Nada es irreversible!

# Celdas de código

En las celdas de código, se puede ejecutar código python

In [ ]:
# Comentarios
# En python, todas las lineas que empiecen con # son comentarios.
# Los comentarios no ejecutan ninguna instrucción, simplemente sirven para dejar anotaciones en nuestro código

In [ ]:
print('Hola mundo!')

## Variables y tipos de datos

Una variable es donde se almacenan y recuperan los datos que utilizamos en nuestros programas.

Las variables deben ser de un **tipo de datos**. En python tenemos tipos de datos primitivos como:
- str: string (variables que almacenan caracteres)
- int: intiger (variables que almacenan números enteros)
- float (variables que almacenan números con decimales)
- bool: booleanos (variables que pueden tomar como valor TRUE o FALSE)

Veamos algunos ejemplos!

Definimos una variable de cada tipo:

In [ ]:
a = "Hola Mundo"
print(a)

In [ ]:
a = 1
print(a)

In [ ]:
a = 1.
print(a)

In [ ]:
a = False
print(a)

In [ ]:
print(a)

In [ ]:
# STRING
variable_string = 'Esto es un string'

# INT
variable_int = 1

# FLOAT
variable_float = 1.1

# BOOL
variable_bool = True

En python, podemos usar la función type() para saber el tipo de una variable

In [ ]:
type(variable_string)

In [ ]:
type(variable_int)

In [ ]:
type(variable_float)

In [ ]:
type(variable_bool)

De que tipo es esta variable?

In [ ]:
mi_variable = '1.3'

In [ ]:
# COMPLETAR (imprimir el tipo de la variable mi_variable y ejecutar la celda)
type(mi_variable)

Las variables, como su nombre lo indica, pueden variar su valor a lo largo de la ejecución del programa. Veamos ejemplos..

In [ ]:
a = 1
print(f"Valor de a: {a}") # Cuando ponemos f adelante de un string, podemos imprimir el valor de una variable que pongamos entre {}
a = 2
print(f"Nuevo valor de a: {a}")
a = a + 1
print(f"Le sumamos 1 a la variable y el resultado es: {a}")

In [ ]:
a = 1

In [ ]:
a = a * 2
print(a)

### None

En python, el valor None representa una variable vacia

In [ ]:
vacia = None
print(vacia)

In [ ]:
print(b)

### Cambiar tipo de variable

Los tipos de variables se pueden cambiar.

Por ejemplo:

In [ ]:
numero = 5
print(type(numero))

In [ ]:
a = str(True)
type(a)
a

Transformemos la variable numero a str:

In [ ]:
numero = str(numero)
print(type(numero))

De todas formas, no se puede en todos los casos. Por ejemplo, no podemos transformar en int un str que tiene como valor una palabra:

In [ ]:
a = 5.3
b = int(a)
b

In [ ]:
t = 0
b = float(a)
b

In [ ]:
a = 'False'
b = bool(a)
b

In [ ]:
palabra = 'Hola'
float(palabra)

## Operaciones

En python, como en todos los lenguajes de programación, podemos realizar operaciones matemáticas. Desde sumas y restas hasta operaciones más complejas.

In [ ]:
# SUMA
print(1 + 1)

In [ ]:
a = 1.0
b = 2
c = a + b
print(c)

In [ ]:
# RESTA
print(3 - 1)

In [ ]:
# MULTIPLICACIÓN
print(3 * 3.0)

In [ ]:
# DIVISIÓN
print(10. / 3.)

In [ ]:
# RESTO DE UNA DIVISIÓN
print(10 % 3)

In [ ]:
# ELEVAR UN NÚMERO AL CUADRADO
print(10 ** 1 / 2 )

In [ ]:
print( 10.0 * (1.0 + 2.0)  )

Tambien podemos realizar operaciones entre variables, o asignar el resultado de una operacion a una variable

In [ ]:
a = 1
b = 2
c = a + b
print(c)

Los string, también nos permiten aplicar operaciones.

Si sumamos 2 strings, estos 2 se unen:

In [ ]:
suma_strings = "Primer string " + "segundo string"
print(suma_strings)

Si multiplicamos un string por un entero n, el string se nplica:

In [ ]:
entero = 5
string = 'A'
print(entero + string)     #  a * 3 = a + a + a

PREGUNTA: ¿Que tipo de dato se genera si multiplicamos un STRING y un ENTERO?

In [ ]:
# COMPLETAR
entero = 3
string = 'A'
print(string * entero)     #  a * int := a + a + a + a + ....
                           #  int * a := ....

Funciones sobre strings:

In [ ]:
string_ejemplo = "Hola como como estás?"

Función IN

In [ ]:
print("Hola "+"como")

In [ ]:
"hola" in string_ejemplo

Función replace

In [ ]:
string_ejemplo.replace("á", "a")

**EJERCICIO** : Buscar las funciones de STRINGS en python:

- capitalize()
- count()
- endswith()
- upper() y lower()

Y escribir un ejemplo de aplicación de cada una

In [ ]:
string_ejemplo = "¿Hola Mundo?"

In [ ]:
#capitalize()                   Devuelve el primer caracter en mayúscula
string_ejemplo.capitalize()

In [ ]:
string_ejemplo.title()

In [ ]:
#count()
print(string_ejemplo.title())
print(a)
print(b)
print(x)
print(y)
print(string_ejemplo.count())

In [ ]:
#endswith()
string_ejemplo.startswith('¿hola')

In [ ]:
#upper()
string_ejemplo.upper()

In [ ]:
#lower()
string_ejemplo.lower()

F Strings: Nos permiten poner una variable dentro de un string. Se arman de la siguiente manera:

In [ ]:
x = 11
y = x ** x + 100*x
qy = None

In [ ]:
print(f'La variable y es igual a {x ** x + 100*x}')

## Mensajes de error

A la hora de programar, vamos a ir obteniendo muchos mensajes de error. Es muy importante aprender a entender esos errores e identificar en que parte de nuestro código están. Muchas veces vamos a pasarnos tiempo buscando un error en google!

In [ ]:
a = error

Al no poner la palabra "error" entre comillas, python interpreta como que es una variable, y como nunca creamos una variable que se llame "error", falla.

## Listas, tuplas y diccionarios

3 tipos de datos más complejos que los que vimos antes, pero que vamos a utilizar mucho, son:
- Listas: Una lista es una **estructura de datos** que contiene una colección o secuencia de datos. Los datos o elementos de una lista deben ir **separados con una coma** y todo el conjunto entre corchetes. Se dice que una lista es una estructura **mutable** porque además de permitir el acceso a los elementos, pueden suprimirse o agregarse nuevos.
- Tuplas: Una tupla permite tener agrupados un conjunto **inmutable** de elementos, es decir, en una tupla no es posible agregar ni eliminar elementos. Las tuplas se declaran separando los elementos por comas y entre paréntesis.
- Diccionarios: Los diccionarios son objetos que contienen una lista de parejas de elementos. De cada pareja un elemento es la clave, que no puede repetirse, y, el otro, un valor asociado.

Los elementos de las tuplas, listas y diccionarios pueden ser de cualquier tipo de dato

In [ ]:
tupla = (1, 2.2, 'string', 3,  4, 5.5)

In [ ]:
lista = [1, 'aaa', 3.3, 4, 5.5, 6, '7']

In [ ]:
a=5

Para acceder a los elementos de una tupla o una lista, debemos utilizas los indices, es decir, la posición en la que se encuentra el elemento.
Los indices empiezan desde 0.
Para acceder a el último elemento, se usa el -1. A el penúltimo -2 y así sucesivamente.

In [ ]:
lista[6]

In [ ]:
x = 'prueba'

In [ ]:
x[0]

In [ ]:
lista[-1]

In [ ]:
# Accedemos a el primer elemento de la lista
print(f"Primer elemento de la lista: {lista[0]}")

# Accedemos a el último elemento de la lista
print(f"Último elemento de la lista: {lista[-1]}")

# Accedemos a el penúltimo elemento de la lista
print(f"Penúltimo elemento de la lista: {lista[-2]}")

In [ ]:
# Accedemos a el primer elemento de la tupla
print(f"Primer elemento de la tupla: {tupla[0]}")

# Accedemos a el último elemento de la tupla
print(f"Último elemento de la tupla: {tupla[-1]}")

# Accedemos a el penúltimo elemento de la tupla
print(f"Penúltimo elemento de la tupla: {tupla[-2]}")

COMPLETAR LAS SIGUIENTES CELDAS:

In [ ]:
# IMPRIMIR EL TIPO DE DATO DE EL PRIMER Y TERCER ELEMENTO DE LA TUPLA

In [ ]:
type(tupla[0])

In [ ]:
# IMPRIMIR EL TIPO DE DATO DE EL ULTIMO ELEMENTO DE LA LISTA

In [ ]:
# SUMAR EL PRIMER ELEMENTO DE LA TUPLA CON EL TERCERO DE LA LISTA Y ASIGNARLOS A LA VARIABLE s

s = tupla[0] + lista[2]

In [ ]:
tupla[0] + lista[2]

In [ ]:
# IMPRIMIR EL TIPO DE LA VARIABLE s
s

Atención a el tipo de la variable s. Que tipos de datos sumamos? Y que tipo de dato se creo?

Para ver el largo de una lista, podemos utilizar la funcion len()

In [ ]:
print(f"La lista tiene {len(lista)} elementos")

In [ ]:
len(lista)

In [ ]:
lista[6]

Lo mismo con tuplas

In [ ]:
print(f"La tupla tiene {len(tupla)} elementos")

Como dijimos, las listas son objetos mutables. Es decir, que les podemos agregar y quitar elementos:

In [ ]:
print(lista)

In [ ]:
# Agregamos un elemento a la lista
lista.append('otro elemento')
print(lista)

In [ ]:
print(f"La lista ahora tiene {len(lista)} elementos")

In [ ]:
# Eliminamos un elemento de la lista
lista.remove('aaa')

In [ ]:
print(lista)

In [ ]:
print(f"La lista ahora tiene {len(lista)} elementos")

Las tuplas son inmutables, por lo que no tienen los métodos append y remove.

### Slicing en listas

Como vimos recién, se puede acceder a elementos específicos de una lista. Además, python nos permite acceder a un subconjunto de los elementos de una lista con lo que se conoce como slicing.

Slicing se realiza utilizando ":" de la forma:
[start:stop]

Veámoslo en el código

In [ ]:
print(lista)

In [ ]:
print(lista[1:4])

Además, podemos agregar un parámetro :step, para ir obteniendo elementos de step en step.

[start:stop:step]

In [ ]:
print(lista[0:6:3]) #comentario

Si no ponemos el parámetro start, por defecto va a ser 0.

Si no ponemos el parámetro stop, por defecto va a ser -1.

Si no ponemos el parámetro step, por defecto va a ser 1.

Entonces:

In [ ]:
# IMPRIMIR LOS ÚLTIMOS 3 ELEMENTOS DE LA LISTA
last_three = # COMPLETAR
print(f"Últimos 3 elementos de la lista {last_three}")

In [ ]:
lista

In [ ]:
# IMPRIMIR DESDE EL 2do ITEM DE LA LISTA EN ADELANTE
from_second = # COMPLETAR
print(f"Últimos 3 elementos de la lista {from_second}")

### Listas anidadas

COmo dijimos anteriormente, las listas pueden contener elementos de cualquier tipo (int, float, otras listas, diccionarios, etc).

Por lo tanto, una lista puede contener otras listas:

In [ ]:
lista_de_listas = [[1,2,3], [4,5,6]]

Como creen que podemos acceder a el primer elemento de la primer lista?

In [ ]:
primer_item_primer_lista = # COMPLETAR
print(f"El primer elemento de la primer lista es: {primer_item_primer_lista}")

Qué largo tiene la lista de listas?

In [ ]:
print(len(lista_de_listas))

### Detalle importante!

In [ ]:
lista_1 = [1,2,3,4]
lista_2 = lista_1  #lista_2 ahora es igual a lista_1
lista_2[-1] = 100 #el ultimo elemento de la lista ahora es 100, con -1 seleccionamos el ultimo elemento de la lista
print(lista_1, lista_2)

Ambas listas se modificaron!

In [ ]:
lista_1 = [1,2,3,4]
lista_2 = lista_1.copy()
lista_2[-1] = 100
print(lista_1, lista_2)

Ahora no

# In, Not in

Con las expresiones "in" y "not in" podemos saber si un elemento está en una lista o no. Estas expresiones retornan True o False (un bool) dependiendo de si se cumple o no la condición.

In [ ]:
lista_de_elementos = ['a', 'b', 'c', 'd']

print('b' in lista_de_elementos)

In [ ]:
print('x' in lista_de_elementos)

In [ ]:
print('x' not in lista_de_elementos)

### Diccionarios

Ahora, veamos que podemos hacer con un diccionario

In [ ]:
diccionario = {
    'clave': 'valor',
    'clave2': 'valor_2',
    'clave3': 'valor_3'
}

In [ ]:
notas = {'agustin': 5, 'natalia': 2, 'carolina':10}

In [ ]:
notas['agustin'] = 7

In [ ]:
notas['hernan'] = 10

In [ ]:
notas

In [ ]:
type(diccionario)

Como vimos anteriormente, los diccionarios son objetos que se forman con claves y valores.
Para acceder a un item del diccionario utilizamos la clave:

In [ ]:
print(diccionario['clave'])

In [ ]:
print(diccionario['clave2'])

In [ ]:
print(diccionario['clave3'])

Podemos agregar nuevas claves a un diccionario:

In [ ]:
diccionario['nueva_clave'] = 'nuevo valor'

In [ ]:
print(diccionario)

Para conocer todas las claves de un diccionario, podemos usar el método .keys(). Veamos un ejemplo:

In [ ]:
print(diccionario.keys())

De que tipo es el objeto que nos retorna diccionario.keys()?

In [ ]:
tipo = type(diccionario.keys())
print(f"El tipo de el objeto es: {tipo}")

In [ ]:
tipo = type(diccionario.values())
print(f"El tipo de el objeto es: {tipo}")

Podemos transformarlo en lista? Como se les ocurre ?
RECUERDEN QUE SIEMPRE SE PUEDE USAR GOOGLE

In [ ]:
keys_transformado_en_lista = list(diccionario.keys())
print(f"El tipo de el objeto keys ahora es: {type(keys_transformado_en_lista)}")

In [ ]:
keys_transformado_en_lista

In [ ]:
for estudiante in keys_transformado_en_lista:
  print(estudiante,notas[estudiante])

Ahora que el objeto es una lista, podemos acceder a sus valores de una forma simple (usando indices por ejemplo).

In [ ]:
# IMPRIMIR EL PRIMER ELEMENTO DE LAS KEYS

Para conocer los valores de un diccionario, existe el método .values()

In [ ]:
print(diccionario.values())

Asi como podemos tener listas de listas, podemos tener un diccionario anidado, o un diccionario que contenga listas.

Juguemos un poco con los diccionarios:

Crear un diccionario d en el que contenga las keys:
- 'dicc'
- 'lista'
- 'tupla'
- 'numero'

y que cada una de esas keys, tenga como valor el tipo de dato que corresponda según su nombre

In [ ]:
d = {'dict':type({'d':1}),
     'lista':type([1]),
     'tupla':type((1)),
     'numero': type(1)
     }

In [ ]:
d

## Palabras reservadas

En python, asi como en todos los lenguajes de programación, hay palabras reservadas. Estas palabras no podemos utilizarlas como nombres de variables. Vamos a ir descubriendolas mientras aprendamos, pero algunos ejemplos son:

- str
- int
- for
- None
- True
- False
- while
- if
- else

## Operaciones lógicas

Una expresión booleana (o expresión lógica) es evaluada como verdadera (**True**) o falsa (**False**). Python provee el tipo de dato bool que puede contener los valores True o False. Muchas funciones y operaciones retornan objetos booleanos.

Los operadores:
- `<`
- `<=`
- `>`
- `>=`
- `== `
- `!= `

comparan el valor de dos objetos y retornan True o False.

In [ ]:
a == 5

In [ ]:
1 == 1

In [ ]:
1 == 2

In [ ]:
1 < 5

Estos valores pueden ser almacenados en variables

In [ ]:
a = 1 == 1
print(a)

La palabra reservada **not** puede ser utilizada para invertir un valor booleano.

In [ ]:
not 1 == 1

Qué retorna la siguiente expresión?

In [ ]:
v1 = "5"
v2 = 5

v1 == v2

In [ ]:
v1 == str(v2)

In [ ]:
variable_color == 'verde'

En python podemos utilizar las operaciones lógicas `and` y `or`

In [ ]:
(1 == 1) and (2==2) #en pandas se puede reemplazar por un &

In [ ]:
(1 == 1) and (1 == 2)

In [ ]:
(1 == 1) or (2 == 2)

In [ ]:
(1 == 2) or (1 == 1)

(variable_color == 'verde') and (variable_anio == '2022')

## Condicionales

Los condicionales son un bloque de código que se va a ejecutar solo en caso de que la condicón se cumpla.

Tanto en condicionales como otros bloques que vamos a ver a continuación, es muy importante la tabulación.

In [ ]:
if 1 == 1:
  print("Este bloque se ejecuta porque la condición se evalua como True!") # Prestar atención al tab

In [ ]:
if 1 == 2:
  print("Esto no se va a imprimir")

A veces queremos que si una condición se cumple, se ejecute un bloque de código, pero si no se cumple, se ejecute otra. La forma de hacer esto es utilizando el bloque `else`

In [ ]:
if 1==2:
  print("Esto no se imprime")
else:
  print("Esto si se imprime")

if variable_color == 'verde':
  valor = valor + 10
else:
  valor = valor

In [ ]:
if 1==1:
print("Esto si se imprime")
else:
  print("Esto no se imprime")

También podemos definir varias condiciones en un solo if

In [ ]:
if 1==2:
  # Falso
  print("Falso")
elif 1 == 3:
  # Falso
  print("Falso")
elif 1 == 4:
  # Falso
  print("Falso")
elif 1 < 5:
  print("Verdadero!")

## Loops

Los Loops son estructuras de codigo fundamentales en cualquier lenguaje de programación. Son bloques de código que se repiten dada una cierta cantidad de veces dada una condición.
Como en el if, en estos loops es muy importante respetar la indentación.

### For
El For es un loop en el que un bloque de código se repite tantas veces como elementos haya en una determinada lista. En cada iteración (repetición) hay una variable que va tomando el valor de uno de los elementos en esta lista.

In [ ]:
lista = [1,5, 10, 20, 25, 34, 100]

for elem in lista:
    print(elem)

También podemos recorrer listas de texto:

In [ ]:
'str' == 'string'

In [ ]:
lista_texto = ['str', 'int', 'float']
nueva_lista = []
nueva_lista_str = []

for elem in lista_texto:
    oracion = elem + ' es un tipo de dato.'
    if elem == 'str':
      nueva_lista_str.append(oracion)
    else:
      nueva_lista.append(oracion)

print(nueva_lista, nueva_lista_str)

# Este print esta fuera del for, no está indentado
#print(nueva_lista)

In [ ]:
nueva_lista = []
for hola in lista_texto:
    oracion = hola + ' es un tipo de dato.'
    nueva_lista.append(oracion)
    print(elem, nueva_lista)

In [ ]:
nueva_lista= [x + ' es un tipo de dato.' if x == 'str' else x + ' not str' for x in lista_texto]

In [ ]:
nueva_lista

In [ ]:
nueva_lista

Y también podemos combinar esto con un if! Veamos..

##### Ejercicio:

Con un bloque de código similar al anterior, armar una lista que contenga las frases:

['str es un tipo de dato.', 'int es otro tipo de dato.', ' y float es otro tipo de dato.']

Es decir, en cada iteración debemos realizar operaciones distintas para meter la frase en la lista.

Pista: Hay que definir nuevas variables y utilizar un if.

In [ ]:
for elem in lista_texto:
  if elem == 'str':
    #agregar 'str es un tipo de dato.'
  elif elem == 'int':
    #agregar 'int es otro tipo de dato.'
  else: #puedo asumir que el 'float' entra aca
    #agregar ' y float es otro tipo de dato.'

In [ ]:
lista_texto = ['str', 'int', 'float']
nueva_lista = []

# COMPLETAR
for elem in lista_texto:
    oracion = elem + ' es un tipo de dato.'
    nueva_lista.append(oracion)

print(nueva_lista)

### While

El while repite un bloque de código mientras se cumpla una cierta condición que le ponemos.  Es importante en este caso, asegurarnos que el loop en algún momento termine.

In [ ]:
while 1<5:
  print('cierto')

In [ ]:
i = 1

while i <= 5:
    print(i)
    i = i + 1
    break

Si la condición que ponemos en el while es siempre cierta, el programa se va a clavar. Pueden probarlo! No van a romper nada, simplemente reinician y listo. Como dijimos al principio, nada de esto es irreversible.

# Ahora practiquemos...

Armar la frase

'Esto es un string armado a partir de la concatenación de algunas variables'

A partir de la concatenación de las siguientes variables (sin modificar el valor de ninguna)

In [ ]:
txt1 = 'Esto '
txt2 = ['string', 'es un']
tet3 = {
    'txt_3_key_1': 'a partir',
    'txt_3_key_2': 'concatenacion',
}
txt4 = ('armado', 'de la', 's')
txt5 = 'de alguna'
txt6 = 'variable'
txt7 = ' '

In [ ]:
txt1 = 'Esto '
txt2 = ['string', 'es un']
tet3 = {
    'txt_3_key_1': 'a partir',
    'txt_3_key_2': 'concatenacion',
}
txt4 = ('armado', 'de la', 's')
txt5 = 'de alguna'
txt6 = 'variable'
txt7 = ' '

# Tener en cuenta espacios, palabras en plural y singular

frase = #COMPLETAR
print(frase)

In [ ]:
txt1 + txt2[1] + ' ' +txt2[0]

Genere una lista llamada `al_cuadrado` que contenga el cuadrado de cada elemento en la lista `numeros`.

In [ ]:
numeros = [3,1,5,7,12,10,17,4,22]

al_cuadrado = []

for n in numeros:
    # COMPLETAR
print(numeros)

Investigar el operador de módulo (%) en python (Google).

Utilizando dicho operador, contar la cantidad de números pares e impares en la siguiente lista:

In [ ]:
numeros = [2,4,6,7,8,9,10,12,14,17,21]
n_pares = 0
n_impares = 0
#COMPLETAR

print(f"Cantidad de números pares: {n_pares}\nCantidad de números impares: {n_impares}")

In [ ]:
5%2

Escribir un for para buscar el máximo de la lista e imprimir su _posición_

In [ ]:
lista=[44,11,15,29,53,12,30]
posicion=0
# IMPLEMENTAR

#debe imprimir 4
print("- La posición del máximo es:")
print(posicion)

Por cada elemento de la siguiente lista, imprimir si el elemento es divisible sobre 3 o no.

TIP: %

In [ ]:
lista = [1,2,3,4,10,13,16,20,22,27,30]

# Implementar